PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/vetclinic?retryWrites=true&w=majority
JWT_SECRET=vet_clinic_super_secret_key_2024
JWT_EXPIRE=7d
DOCTOR_USERNAME=doctor
DOCTOR_PASSWORD=clinic123
